$input-font-size = 14px
$input-height = 25px
$input-group-padding = 14px 0 0

$alert-border-radius = 3px
$alert-icon-color = grey darken-2

$toolbar-item-padding = 8px 16px
$toolbar-padding-y = 8px

@import '~vuetify/src/stylus/main'